@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
    <div class="row" style="list-style:none;">
        <ul>
            @foreach (var course in Model)
            {
                <li  style="list-style:none; position: relative; magrin-bottom:30px; " >
                    <div class="date" style="text-align:center;background-color: orange; color:white;width:60px;border-radius:8px;">
                        <div class="month">       
                                @course.DateTime.ToString("MM")
                        </div>
                        <div class="day ">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details " style=" position: absolute;top:0;left:70px;">
                        <span class="lecturer">
                            @course.Lecturer.Name
                            <button class="btn btn-default btn-sm js-toggle-follow " data-user-id="@course.LecturerId">Follow</button>
                        </span>
                        <span class="category ">
                            @course.Category.Name
                        </span>
                        <button data-course-id="@course.id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    </div>
                </li>
            }
        </ul>
        @section scripts
        {
            <script>
                $(document).ready(function () {
                    $(".js-toggle-attendance").click(function (e) {
                        var button = $(e.target);
                        $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });

                    });
                    $(".js-toggle-follow").click(function(e)
                    {
                        var button = $(e.target);
                        $.post("/api/followings", { followeeId: button.attr("data-user-id")})
                            .done(function () {
                                button.text("Following");
                            })
                        .fail(function () {
                            alert("something failed");
                        })

                    })
                }
                    );
            </script>
         }
    </div>
<div></div>